# Manipulating Dataframe


The features of Pandas that make it indispensable:

To be able to harness the true power of something as versatile as the Pandas library, one should know the following features.
1. Great data handling
2. Handling of missing data
3. Indexing and Alignment
4. Tools for input and output
5. Data clean-up
6. Support for multiple file formats
7. Multiple features for Time Series
8. Joining and Merging Datasets
9. Support for Python
10. Optimal performance
11. Grouping of data
12. Visualization of data
13. Data is Unique
14. Masking data
15. Mathematical Operations

In [2]:
import pandas as pd

## Creating dataframe

In [ ]:
# Create a DataFrame manually from a dictionary of Pandas Series

# create a dictionary of Pandas Series 
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

# print the type of items to see that it is a dictionary
print(type(items)) # class 'dict'

# create a Pandas DataFrame by passing it a dictionary of Series
shopping_carts = pd.DataFrame(items)
shopping_carts.head()

In [ ]:
# create a DataFrame that only has a subset of the data/columns
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])

# create a DataFrame that only has selected keys
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

# combine both of the above - selected keys for selected columns
alice_sel_shopping_cart = pd.DataFrame(items, index = ['glasses', 'bike'], columns = ['Alice'])

print('shopping_carts has shape:', shopping_carts.shape)
print('shopping_carts has dimension:', shopping_carts.ndim)
print('shopping_carts has a total of:', shopping_carts.size, 'elements')
print()
print('The data in shopping_carts is:\n', shopping_carts.values)
print()
print('The row index in shopping_carts is:', shopping_carts.index)
print()
print('The column index in shopping_carts is:', shopping_carts.columns)

In [ ]:
# create DataFrames from a dictionary of lists (arrays)
# In this case, however, all the lists (arrays) in the dictionary must be of the same length

# create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# create a DataFrame 
df = pd.DataFrame(data)

# create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

df.head()

In [ ]:
# create DataFrames from a list of Python dictionaries
# create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# create a DataFrame 
store_items = pd.DataFrame(items2)

# create a DataFrame and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])
store_items.head()

## Loading Data into DF

In [3]:
# Loading Data into DF
filename = '../data/data.csv'

df = pd.read_csv(filename)

# limit which rows are read when reading in a file
pd.read_csv(filename, nrows=10)        
# only read first 10 rows

pd.read_csv(filename, skiprows=[1, 2]) 
# skip the first two rows of data

# randomly sample a DataFrame
train = df.sample(frac=0.75) 
# will contain 75% of the rows

test = df[~df.index.isin(train.index)] 
# will contain the other 25%

# change the maximum number of rows and columns printed ('None' means unlimited)
pd.set_option('display.max_rows', None) 
# default is 60 rows

pd.set_option('display.max_columns', None) 
# default is 20 columns
# print (df)

# reset options to defaults
pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

# change the options temporarily (settings are restored when you exit the ‘with’ block)
#with pd.option_context('max_rows', None, 'max_columns', None):
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

## Dealing with NaN values (missing data)

In [7]:
# Dealing with NaN values (missing data)

# create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes':8, 'suits':45},
{'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5, 'shirts': 2, 'shoes':5, 'suits':7},
{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes':10}]

# We create a DataFrame and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2', 'store 3'])

# check if we have any NaN values in our dataset
# .any() performs an or operation. If any of the values along the
# specified axis is True, this will return True.
df.isnull().any()
'''
Date   False
Open   True
High   False
Low    False
Close  False
Volume False
dtype: bool
'''

# count the number of NaN values in DataFrame
x =  store_items.isnull().sum().sum()
print("Number of NaN values is:", x)

Number of NaN values is: 3

In [8]:
# count the number of non-NaN values in DataFrame
x = store_items.count()
print("Number of non-NaN values is:", x)

Number of non-NaN values is: bikes      3
pants      3
watches    3
shirts     2
shoes      3
suits      2
glasses    2
dtype: int64

In [9]:
# remove rows or columns from our DataFrame that contain any NaN values

# drop any rows with NaN values
new_store = store_items.dropna(axis = 0)

print(store_items)
print("\n")
print(new_store)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0


         bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0

In [10]:
# drop any columns with NaN values
new_store = store_items.dropna(axis = 1)

print(store_items)
print("\n")
print(new_store)

         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0


         bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10

In [ ]:
original_store = store_items.copy()
# the original DataFrame is not modified by default
# to remove missing values from original df, use inplace = True
store_items.dropna(axis = 0, inplace = True)

print(store_items)

In [ ]:
print(original_store)
# replace all NaN values with 0
original_store.fillna(0)

In [ ]:
# forward filling: replace NaN values with previous values in the df,
# this is known as . When replacing NaN values with forward filling,
# we can use previous values taken from columns or rows.
# replace NaN values with the previous value in the column
original_store.fillna(method = 'ffill', axis = 0)

In [ ]:
# backward filling: replace the NaN values with the values that
# go after them in the DataFrame
# replace NaN values with the next value in the row
original_store.fillna(method = 'backfill', axis = 1)

In [ ]:
# replace NaN values by using linear interpolation using column values
original_store.interpolate(method = 'linear', axis = 0)

In [ ]:
# the original DataFrame is not modified. replace the NaN values
# in place by setting inplace = True inside function
original_store.fillna(method = 'ffill', axis = 0, inplace = True)
original_store.interpolate(method = 'linear', axis = 0, inplace = True)
original_store

## head, tail, describe, max, memory_usage

In [4]:
data = pd.read_csv(filename)
data.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [5]:
data.head()
data.tail()
data.describe()
# prints max value in each column
data.max()

# display the memory usage of a DataFrame

# total usage
data.info()

# usage by column
data.memory_usage()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.4+ KB

Index                       128
id                         4552
diagnosis                  4552
radius_mean                4552
texture_mean               4552
perimeter_mean             4552
area_mean                  4552
smoothness_mean            4552
compactness_mean           4552
concavity_mean             4552
concave points_mean        4552
symmetry_mean              4552
fractal_dimension_mean     4552
radius_se                  4552
texture_se                 4552
perimeter_se               4552
area_se                    4552
smoothness_se              4552
compactness_se             4552
concavity_se               4552
concave points_se          4552
symmetry_se                4552
fractal_dimension_se       4552
radius_worst               4552
texture_worst              4552
perimeter_worst            4552
area_worst                 4552
smoothness_worst           4552
compactness_worst          4552
concavity_worst            4552
concave points_worst       4552
symmetry_worst             4552
fractal_dimension_worst    4552
dtype: int64

## corr

In [ ]:
# get the correlation between different columns
data.corr().head()

## Groupby

In [ ]:
# Groupby
data.groupby(['diagnosis'])
data.groupby(['diagnosis'])['id']

# display the average radius_mean per diagnosis type
print(data.groupby(['diagnosis'])['radius_mean'].mean())

# display the total radius mean by diagnosis type
print(data.groupby(['diagnosis'])['radius_mean'].sum())

### Replace Values

In [ ]:
# Replace Values
import numpy as np

s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
print(s)
s.map({'cat': 'kitten', 'dog': 'puppy'})

## Selecting data using Labels (Column Headings)

In [ ]:
print("Index is :", data[(data.radius_mean == 20.29)].index.values)

datadict = data.to_dict()

data_1 = datadict["texture_mean"]

In [ ]:
data_2 = data[["texture_mean", "concavity_mean", "diagnosis"]]
data_2.head()

## Slicing dataframe

In [6]:
data_3 = data[0:3]
data_3

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [ ]:
data_4 = data[-1:]
data_4

## Copying Objects vs Referencing Objects in Python

In [ ]:
# Using the 'copy() method'
true_copy_data = data.copy()

# Using the '=' operator
ref_data = data

In [ ]:
true_copy_data[0:3] = 0

true_copy_data.head()

In [ ]:
data.head()

In [ ]:
# Assign the value `0` to the first three rows of data in the DataFrame
ref_data[0:3] = 0

ref_data.head()

In [ ]:
data.head()

## Slicing Subsets of Rows and Columns in Python
- We can select specific ranges of our data in both the row and column directions using either label or integer-based indexing.

    - loc is primarily label based indexing. Integers may be used but they are interpreted as a label.
    - iloc is primarily integer based indexing

In [11]:
# iloc[row slicing, column slicing]
#data.iloc[row, col]
data.iloc[0:3, 1:4]

  diagnosis  radius_mean  texture_mean
0         M        17.99         10.38
1         M        20.57         17.77
2         M        19.69         21.25

In [12]:
# Select all columns for rows of index values 0 and 10
data.loc[[0, 10], ["id","diagnosis"]]

        id diagnosis
0   842302         M
10  845636         M

In [ ]:
# Select all columns for rows of index values 0 and 10
data.loc[[0, 10], "id"]

In [ ]:
# Select all columns for rows of index values 0 and 10
data.loc[[0,6], ["id", "compactness_mean", "area_mean"]]

In [ ]:
data[data.diagnosis == "B"]

In [ ]:
data[data.area_mean < 200]

In [ ]:
data[(data.diagnosis == "M") & (data.area_mean > 1500)]

In [ ]:
import numpy as np

data.loc[0, ["diagnosis"]] = np.NaN
data.loc[1, ["diagnosis"]] = np.NaN

data.head()

In [ ]:
# To select just the rows with NaN values, we can use the 'any()' method
data[pd.isnull(data).any(axis=1)]